// Admin Bar
#wp-admin-bar-toggle-psd {
    color: #6D6E71;
    &:hover {

        > .ab-item {
            color: #6D6E71!important;
            &:before {
                color: #6D6E71!important;
            }
        }
    }

    > .ab-item {
        cursor: pointer;
        &:before {
            content: "Ps";
            color: #6D6E71;
            font-size: 12px;
            font-weight: 600;
            border: 1px solid #6D6E71;
            height: 11px;
            width: 20px;
            margin: 6px 6px 6px 0;
            display: inline-block;
            text-align: center;
            line-height: 8px;
        }
    }

    // Has PSDs in the dropdown - Active State
    &.menupop {
        color: #EEE;
        &:hover {

            > .ab-item {
                color: #2EA2CC!important;
                &:before {
                    color: #AAA!important;
                }
            }
        }

        > .ab-item {
            &:before {
                color: #AAA;
                border: 1px solid #AAA;
            }
        }
    }
}

#wp-admin-bar-toggle-psd-default {

    .toggle-psd-node-container {
        position: relative;
    }

    .ab-item {
        text-indent: 28px;
    }

    .toggle-psd-node {
        position: absolute;
        width: 100%;
        height: 26px;
        top: 0;
        left: 0;
        z-index: 101;
        cursor: pointer;
        &:before {
            content: "";
            display: block;
            margin: 8px 0 0 15px;
            height: 10px;
            width: 10px;
            border-radius: 100%;
        }
    }

    .toggle-psd-node[data-state="hidden"] {
        &:before {
            background-color: #AAA;
        }
    }

    .toggle-psd-node[data-state="shown"] {
        &:before {
            background-color: #B2BB1C;
        }
    }
}

// Footer
#footer-toggle-psd-default {
    margin: 0;
    height: 0;
    width: 0;
    list-style: none;

    .toggle-psd-node-container {
        margin: 0;
        height: 0;
        width: 0;

        img {
            width: auto;
        }
    }

    .toggle-psd-node[data-state="hidden"] {
        display: none;
    }

    .toggle-psd-node[data-state="shown"] {
        display: block;
        position: absolute;
        top: 32px; // Account for the WP admin bar
        left: 50%;
        z-index: 99999;
        opacity: 0.6;
        min-width: 100%;
    }
}