// Admin Bar
#wp-admin-bar-toggle-psd {
    color: #6D6E71;
    &:hover {

        > .ab-item {
            color: #6D6E71!important;
            &:before {
                color: #6D6E71!important;
            }
        }
    }

    &[data-state="hidden"] {
        background-color: initial;
    }

    &[data-state="shown"] {
        &.menupop {
            &:hover, &:focus {
                > .ab-item {
                    color: #B2BB1C!important;
                    &:before {
                        color: #FFF!important;
                        border: 1px solid #AAA;
                    }
                    &:focus {
                        color: #FFF!important;
                    }
                }
            }
        }
        &.menupop.hover {
            > .ab-item {
                &:before {
                    color: #FFF!important;
                    background-color: #B2BB1C;
                }
            }
        }
        > .ab-item {
            &:before {
                background-color: #B2BB1C;
                color: #FFF!important;
                border: 1px solid #FFF;
            }
        }
    }

    > .ab-item {
        cursor: pointer;
        &:before {
            font-family: 'Open Sans', sans-serif!important;
            content: "Ps";
            color: #6D6E71;
            font-size: 12px;
            font-weight: 600;
            border: 1px solid #6D6E71;
            width: 20px;
            margin: 6px 6px 6px 0;
            display: inline-block;
            text-align: center;
            line-height: 11px;
        }
    }

    // Has PSDs in the dropdown - Active State
    &.menupop {
        color: #EEE;
        &:hover, &:focus {

            > .ab-item {
                color: #B2BB1C!important;
                &:before {
                    color: #AAA!important;
                    border: 1px solid #AAA;
                }
                &:focus {
                    color: #AAA!important;
                }
            }
        }

        &.hover {
            color: #B2BB1C!important;

            > .ab-item {
                color: #B2BB1C!important;
                &:before {
                    color: #AAA!important;
                }
            }
        }

        > .ab-item {
            &:before {
                color: #AAA;
                border: 1px solid #AAA;
            }
        }
    }
}

#wp-admin-bar-toggle-psd-default {

    .toggle-psd-node-container {
        position: relative;
        &:hover {
            .ab-item {
                color: #B2BB1C;
            }
        }
    }

    .ab-item {
        text-indent: 28px;
    }

    .toggle-psd-node {
        position: absolute;
        width: 100%;
        height: 26px;
        top: 0;
        left: 0;
        z-index: 101;
        cursor: pointer;
        &:before {
            content: "";
            display: block;
            margin: 8px 0 0 15px;
            height: 10px;
            width: 10px;
            border-radius: 100%;
        }
    }

    .toggle-psd-node[data-state="hidden"] {
        &:before {
            background-color: #AAA;
        }

        img {
            display: none;
        }
    }

    .toggle-psd-node[data-state="shown"] {
        &:before {
            background-color: #B2BB1C;
        }
    }
}

.overlay {
    display: block;
    position: absolute!important;
    z-index: 99;
    top: 32px; // Account for the WP admin bar
    max-width: none!important;
    left: 50%;
    opacity: 0.6;
}